/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
.row {
    margin: 0px;
    margin-bottom: 5px;
}

.row > img {
    padding-left: 0px;
    padding-right: 0px;
}

.col {
    padding-left: 5px;
    padding-right: 5px;
}

