/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
.row {
    margin: 0px;
}

.row > * {
    padding-left: 0px;
    padding-right: 0px;
}

